<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<body>

	<div class="">
 		<h1>Welcome</h1>
 		<p>Please login!</p>
 		<p></p>
	</div>
    <form th:action="@{/login}" method="post">
        <div><label> Email : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</body>
</html>