<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" th:href="@{/styles.css}">
<body>
	<div>
		<h1>Welcome <b sec:authentication="name"></b></h1>
	</div>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
	<a sec:authorize="hasAuthority('employer')" href="/newemployee">Add new employee</a>
	<div class="">
	<h1>This is a userpage</h1>
	<table class="employees">
    <tbody>
        <tr th:each="employee : ${employees}">
            <td>
                <h3 th:text="${employee.name}" />
                <a sec:authorize="hasAuthority('employer')" th:href="@{/deleteEmp/{id}(id=${employee.user.id})}">Fire the employee</a>
                <a sec:authorize="hasAuthority('employer')" th:href="@{/editEmp/{id}(id=${employee.user.id})}">Edit</a>
                <br>
                <table class="shift-tables">
                    <tbody>
                        <tr>
                            <th>Starting time</th>
                            <th>Ending time</th>
                            <th>Date</th>
                            <th>Hours</th>
                            <th>Wage</th>
                        </tr>
                        <tr th:each="shift : ${employee.shifts}" class="column">
                            <td th:text="${shift.startingTime}"></td>
                            <td th:text="${shift.endingTime}"></td>
                            <td th:text="${shift.date}"></td>
                            <td th:text="${shift.Hours}"></td>
                            <td th:text="${shift.Hours * employee.wage} + ' euros'"></td>
                            <td th:if="${employee.user.role == 'employer'}"><a th:href="@{/deleteShift/{id}(id=${shift.id})}">Delete</a></td>
                            <td th:if="${employee.user.role == 'employer'}"><a th:href="@{/editShift/{id}(id=${shift.id})}">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
	</table>
	<br>
	<a href="/newshift">new shift</a>
	</div>
</body>
</html>